.modalWrapper {
    position: absolute;

    .modalBg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContainer {
            display: inline-block;

            #closeBtn {
                padding: 0 5px;
            }

            .modalContent {
                background: white;
                padding: 25px;
                border-radius: 5px;

                .modalHeader {
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
            }
        }
    }
}