.modalWrapper {
    position: absolute;

    .modalBg {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        .modalContainer {
            display: inline-block;

            #closeBtn {
                padding: 0 5px;
            }

            .modalContent {
                background: white;
                padding: 25px;
                border-radius: 5px;
                text-align:left;
                font-size:1rem;

                .modalHeader {
                    color:#FF7C1E;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    text-align:center
                }

                label {
                    color: #2D2D2A;
                    font-size:1rem;
                }
            }
        }
    }
}